*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 80px auto;
    width: 350px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a65b9;
}

.container h2{
    background-color: #86156d;
    color: white;
    padding: 8px;
    text-align: center;
}

form{
    padding: 10px 30px;
    width: 100%;
}

.amount, .tenure, .principal{
    margin: 10px 0;
}

label{
    color: white;
    margin-bottom: 15px;
}

input[type=number]{
    background-color: gray;
    padding: 10px;
    color: white;
    font-size: 14px;
    width: 95%;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

input::placeholder{
    color: black;
    font-style: 14px;
}

.rate, .princip{
    background-color: gray;
    padding: 10px;
    height: 38px;
    color: white;
    width: 95%;
    font-size: 14px;
    border-radius: 10px;
}

input::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=radio], input[type=checkbox]{
    margin: 0 8px;
}

.show{
    background-color: gray;
    color: black;
    font-weight: bold;
    width: fit-content;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: auto;
}

.pay-int{
    margin-top: 10px;
}

.text-show, .note{
    margin: 5px 10px;
}

.note p{
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    padding: 10px;
    line-height: 1.5;
}